:root {
  --color-primary: #4e54c8;
  --color-secondary: #a1a6ff;
  --color-accent: #ffffff;
}

/* Context */
.context {
  position: absolute;
  top: 5rem;
  width: 100%;
}

.allchildren {
  background-color: var(--color-secondary);
  color: #000000;
}

/* Animation Area */
.area {
  background-color: var(--color-primary);
  height: 80vh;
  width: 100%;
}

/* Circles */
.circles {
  height: 90%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.circles li {
  animation: animate 16s linear infinite;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: block;
  list-style: none;
  position: absolute;
  bottom: 0;
}

/* Circle Animation */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}